<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img width="100%" src="assets/images/paris.jpg">

          <div class="card-body">
            <h2>París</h2>
            <p class="card-text">La ciudad de París, dentro de sus estrechos límites administrativos, tiene una población de 2 273 305 habitantes en...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Leer más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
         <img width="100%" src="assets/images/berlin.jpg">

          <div class="card-body">
            <h2>Berlín</h2>
            <p class="card-text">Se localiza al noreste de Alemania. Por la ciudad fluyen los ríos Spree, Havel, Panke, Dahme y Wuhle. Con una población...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Leer más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img width="100%" src="assets/images/tokio.jpg">

          <div class="card-body">
            <h2>Tokio</h2>
            <p class="card-text">En conjunto es una de las 47 prefecturas de Japón. Es el centro de la política, economía, educación, comunicación...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Leer más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img width="100%" src="assets/images/buenos-aires.jpg">

          <div class="card-body">
            <h2>Buenos aires</h2>
            <p class="card-text">Buenos Aires, en el texto de la Constitución: Ciudad de Buenos Aires o Ciudad Autónoma de Buenos Aires (CABA),...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Leer más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img width="100%" src="assets/images/seul.jpg">

          <div class="card-body">
            <h2>Seúl</h2>
            <p class="card-text">Situada en el noroeste del país, a unos 50 kilómetros de la zona desmilitarizada que separa las dos Coreas, forma una unidad...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Leer más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img width="100%" src="assets/images/melbourne.jpg">

          <div class="card-body">
            <h2>Melbourne</h2>
            <p class="card-text"> Fue la capital de Australia entre 1901 y 1927, cuando se trasladó a la ciudad planificada de Canberra.3​ Escogida desde...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Leer más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>